.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .gallery {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    gap: 16px;
  }
}
