.header__logo {
  width: 176px;
  height: 52px;
  background: url(../../../images/logo.svg) no-repeat center center;
  background-size: contain;
}

@media screen and (max-width: 700px) {
  .header__logo {
    width: 140px;
    height: 45px;
  }
}
