.header__lang-selector {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-basis: 78px;
  column-gap: 18px;
  list-style: none;
}

@media screen and (max-width: 400px) {
  .header__lang-selector {
    flex-basis: 0;
    padding-top: 10px;
  }
}
