.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 860px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 440px) {
  .place__paragraph {
    padding: 0 16px;
  }
}