.cover {
  background-image: url(../../images/prefooter-img.jpg);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  max-width: 100%;
  min-height: 740px;
  position: relative;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    min-height: 200px;
  }
}
